[mysqld]

skip-name-resolve
default_authentication_plugin = mysql_native_password

server-id = 2
log_bin = 1

# Add as many databases you want to replicate as possible
binlog_do_db = demo-1
binlog_do_db = demo-2
binlog_do_db = demo-3
